<% newImages.forEach(function (value, index, ar) { %>

<div class="postItem">
    <div class="itemInfo">
        <!--
                            <p class="itemTitle">

                                <% if(newImages[index].title){%>

                                <a href="/<%=newImages[index]._id%>"><%=newImages[index].title%></a>
                                <%}else{%>
                                <a href="/<%=newImages[index]._id%>">Chưa đặt tên</a>
                                <%}%>
                            </p>

                            <p class="itemTime">1 giờ trước</p>
                            -->
    </div>
    <a href="/<%=newImages[index]._id%>"><img class="itemImage" style="width: 100%" src="<%=newImages[index].direct_url%>"></a>
    <div class="itemAction">
        <div id="<%=newImages[index]._id%>" class="love">
            <a class="loveIcon" href="javascript:loveItem('<%=newImages[index]._id%>');"><i class="fa fa-heart fa-lg" aria-hidden="true" ></i></a>
            <p class="loveCount" ><%=newImages[index].love_count%></p>
        </div>
        <div class="share">
            <a class="shareIcon" disabled="true" href="https://www.facebook.com/sharer/sharer.php?u=<%= newImages[index].short_link%>" target="_blank"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></a>
            <p class="shareTxt" >Share</p>
        </div>
        <p class="loopsCount"><%=newImages[index].view_count%> views</p>
    </div>

<%})%>




